<%- include('./partials/header.ejs') %>
<%- include('./partials/boxSingIn.ejs') %>
<main>
<%- include('./partials/functions.ejs') %>
<div class='middle__banner'></div>
<%- include('./partials/review.ejs') %>
</main>
<%- include('./partials/footer.ejs') %>