<%- include('./partials/headerLog.ejs') %>
<div class="main-container max-container">
<%- include('./partials/menuLog.ejs') %>
<%- include('./partials/statesLog.ejs') %>
<%- include('./partials/chatLog.ejs') %>
</div>
<%- include('./partials/footerLog.ejs') %>